<div class="container">
	<div id="group-holder">
		<div class="col-md-3" id="info-panel">
		<h3>{{group.coursecode}}</h3>
		<h6>{{group.description}}</h6>
		<h5>{{group.section}}</h5>
		<h5>{{group.teacheremail}}</h5>
		<hr />
		<h4>Code: {{group.portal}}</h4>
		<hr />
		<a>Create Requirement</a><br />
		<a>View Requirements</a><br />
		<a href="group/{{group.id}}/students" title="View Students">View Students</a><br />
		<a href="group/{{group.id}}/files" title="View Files">View Files</a>
		<br /><br />
	</div>
</div>
	<div class="col-md-8" id="file-panel">
		<h2>Exercise 4 + Bonus [Hard coded pa rin]</h2>
		<p><span id="smaller">Posted July 5, 2015 | Deadline July 15, 2015</span></p>
		<hr>
		<div>
		<p>Write an Erlang program that accepts two strings and then prints the length of the longest common subsequence.The Longest Common Subsequence (LCS) of two strings A and B is the set of all characters in A that matched with string B which appeared in the same order.</p>
		<p>Name your file as "groupname_exer04.doc"</p>
		<br />
		<input type="file" name="exer" class="btn btn-link">
		<br />
		<button type="submit" name="create-group" formaction="group.html" class="btn btn-primary btn-block">Upload file</button>
		</div>	
	</div>
</div>
