<div id="group-holder">
<div class="col-md-3" id="info-panel">
	<h3>{{group.coursecode}}</h3>
	<h6>{{group.description}}</h6>
	<h5>{{group.section}}</h5>
	<h5>{{group.teacheremail}}</h5>
	<hr />
	<h4>Code: {{group.portal}}</h4>
	<hr />
	<a title="Create Requirement">Create Requirement</a><br />
	<a title="View Requirements">View Requirements</a><br />
	<a href="#/class/{{class.portal}}/students" title="View Students">View Students</a><br />
	<a href="#/class/{{class.portal}}files/{{fileupload.id}}" title="View Files">View Files</a>
	<br /><br />
</div>
</div>

<div class="col-md-8">
	<div id="file-panel">
	<h2>{{group.coursecode}} {{group.section}}</h2>
	<hr>
	<div>
		<p>Upload a File</p>
		<form>
			<textarea rows="4" maxlength="500" placeholder="Say something about this file..."></textarea><br />
			<div id="post-group">
				<input type="file" name="exer" class="btn btn-link">
				<input type="button" name="submit-post" class="btn btn-primary btn-md" value="Upload to Group"/>
			</div>
		</form>
	</div>
	</div>

	<div class="feed-group" id="file-panel">
		<h3>Files</h3>
		<p>List of posts</p>
		<h3>Requirements</h3>
		<p>There are no requirements due soon.</p>
	</div>
</div>
