<div id="side-panel">
	<h2>{{group.coursecode}}</h2>
	<hr>
	<sub>{{group.description}}</sub>
	<hr>
	<a href="group/{{group.id}}/students" title="View Students">View Students</a><br />
	<a href="group/{{group.id}}/files" title="View Files">View Files</a>
</div>
<div id="post-panel">
	<h3>Post</h3>
	<hr>
	<form>
		<textarea rows="4" cols="70" placeholder="What's on your mind?"></textarea><br />
		<input type="button" name="submit-post" value="POST"/>
	</form>
</div>
<div id="req-panel">
	<p>
	<h3>Requirements</h3>
	There are no requirements due soon.
	</p>
</div>
