<div class="container">
	<div id="group-holder">
	<div class="col-md-3" id="info-panel">
		<h3>{{group.coursecode}}</h3>
		<h6>{{group.description}}</h6>
		<h5>{{group.section}}</h5>
		<h5>{{group.teacheremail}}</h5>
		<hr />
		<h4>Code: {{group.portal}}</h4>
		<hr />
		<a>Create Requirement</a><br />
		<a>View Requirements</a><br />
		<a href="group/{{group.id}}/students" title="View Students">View Students</a><br />
		<a href="group/{{group.id}}/files" title="View Files">View Files</a>
		<br /><br />
	</div>
	</div>
	<div class="col-md-8" id="student-panel">
		<h2>CMSC 127 ST-1L</h2>
		<hr>
			<div class="table-responsive">
				<table class="table" ng-controller="studentListCtrl">
				<tr ng-repeat="student in students">
					<td>{{student.name}}</td>
					<td>{{student.idNumber}}</td>
					<td>{{student.degree}}</td>
				</tr>
				</table>
			</div>
</div>
