<div class="container">
	<div class="col-md-3" id="info-panel">
		<h3>CMSC 127</h3>
		<h4>File Processing and Database Systems</h4>
		<h5>ST-1L</h5>
		<h5>Mary Grace Primavera-Angeles</h5>
		<hr>
		<h4>Code: qx67ykh3</h4>
		<hr>
		<h5><a href="feed.html">Unenroll</a></h5>
		<h5><a href="view-students.html">View Students</a></h5>
		<br />
	</div>
	<div class="col-md-8" id="student-panel">
		<h2>CMSC 127 ST-1L</h2>
		<hr>
			<div>
			<table class="table" ng-controller="studentListCtrl">
			<tr ng-repeat="student in students">
				<td>{{student.name}}</td>
				<td>{{student.idNumber}}</td>
				<td>{{student.degree}}</td>
			</tr>
			</table>
			</div>
</div>
