<div class="container">
	<div id="group-holder">
		<div class="col-md-3" id="info-panel">
			<h3>{{group.coursecode}}</h3>
			<h6>{{group.description}}</h6>
			<h5>{{group.section}}</h5>
			<h5>{{group.teacheremail}}</h5>
			<hr />
			<h4>Code: {{group.portal}}</h4>
			<hr />
			<a>Create Requirement</a><br />
			<a>View Requirements</a><br />
			<a href="group/{{group.id}}/students" title="View Students">View Students</a><br />
			<a href="group/{{group.id}}/files" title="View Files">View Files</a>
			<br /><br />
		</div>
	</div>
	<div class="col-md-8" id="file-panel">
		<h2>{{group.coursecode}} {{group.section}}</h2>
		<hr>
		<h2>CMSC 127 1st Exam Slides</h2>
		<hr>
		<div>
		<p><span class="glyphicon glyphicon-file"></span> cmsc127examslides.zip</p>
		<p>The schedule for the FIRST LONG EXAM is on October 26, 2015, 7:00 PM - 9:00 PM at the ICS Mega Lecture Hall.</p>
		<p>All the lecture slides for the first long exam are included in this file.</p>
		<br />
		<button type="submit" name="create-group" formaction="group.html" class="btn btn-primary btn-block">Download file</button>
		</div>	
	</div>
</div>
