<div class="container">
	<div id="login-form">
			<h1 id="login-title">LOG IN</h1>
		<div id="login-contents">
			<form action="/login" method="post">
				E-mail Address <input type="text" name="username"><br /><br />
				Password &emsp; &emsp;<input type="password" name="password"><br /><br />
				<button type="submit" class="btn btn-primary custom">Log in</button>
			</form>
			<div id="not-a-member">
			<br />
				<p>Not a member? Sign up as
					<a href="#/student-sign-up">Student</a> or
					<a href="#/teacher-sign-up">Teacher</a>
				</p>
			</div>
		</div>
	</div>
</div>
