<div class="container">
	<div id="side-panel">
		<h2>GROUP NAME</h2>
		<hr>
		<sub>Group Description</sub>
		<hr>
		<a href="" title="View Students">View Students</a><br />
		<a href="" title="View Files">View Files</a>
	</div>
	<div id="post-panel">
		<h3>Add Requirement</h3>
		<hr>
		<form>
			<h4>Description</h4>
			<textarea rows="4" cols="70" placeholder="Add Description"></textarea>
			<br />Due <input type="date" name="duedate">
			<input type="file" name="fileUpload"><br />
			<input type="button" name="create-requirement" value="Create Requirement"/>
		</form>
	</div>
</div>
