<div class="container">
	<div id="group-holder">
		<div class="col-md-3" id="info-panel">
			<h3>{{group.coursecode}}</h3>
			<h6>{{group.description}}</h6>
			<h5>{{group.section}}</h5>
			<h5>{{group.teacheremail}}</h5>
			<hr />
			<h4>Code: {{group.portal}}</h4>
			<hr />
			<a title="Create Requirement">Create Requirement</a><br />
			<a title="View Requirements">View Requirements</a><br />
			<a href="#/class/{{group.portal}}/students" title="View Students">View Students</a><br />
			<a href="#/class/{{group.portal}}/files/{{fileupload.id}}" title="View Files">View Files</a>
			<br /><br />
		</div>
	</div>

	<div class="col-md-8" id="student-panel">
		<h2>Exercise 4</h2>
		<p><span id="smaller">Posted July 5, 2015 | Deadline July 15, 2015</span></p>
		<p><span id="smaller">Maximum Points: 10</span></p>
		<p><span id="smaller">Write an Erlang program that accepts two strings and then prints the length of the longest common subsequence.The Longest Common Subsequence (LCS) of two strings A and B is the set of all characters in A that matched with string B which appeared in the same order.</span></p>
		<hr>
			<div class="table-responsive">
				<table class="table" id="exers" >
				
					<tr>
						<th>Student Number</th>
						<th>Date Submitted</th>
						<th> </th>
						<th>Grade</th>
					</tr>
					<tbody ng-controller="requirementsCtrl">
						<tr ng-repeat="requirement in requirements">
							<td>{{requirement.student.idNumber}}</td>
							<td>{{requirement.dateSubmitted}}</td>
							<td><span ng-show="requirement.url.length > 0"><a href="{{requirement.url}}">VIEW WORK</a></span></td>
							<td>{{requirement.grade}}</td>
						</tr>
					</tbody>
				</table>
			</div>
</div>
