<div class="container">
	<div id="group-holder">
		<div class="col-md-3" id="info-panel">
			<h3>{{group.coursecode}}</h3>
			<h6>{{group.description}}</h6>
			<h5>{{group.section}}</h5>
			<h5>{{group.teacheremail}}</h5>
			<hr />
			<h4>Code: {{group.portal}}</h4>
			<hr />
			<a title="Create Requirement">Create Requirement</a><br />
			<a title="View Requirements">View Requirements</a><br />
			<a href="#/class/{{group.portal}}/students" title="View Students">View Students</a><br />
			<a href="#/class/{{group.portal}}/files/{{fileupload.id}}" title="View Files">View Files</a>
			<br /><br />
		</div>
	</div>
	<div class="col-md-8" id="file-panel">
		<h2>Add File</h2>
		<form>
			<input type="file" name="fileUpload">
			<textarea name="desc" rows="3"></textarea>
			<input type="button" name="upload-file" value="Upload File"/>
		</form>
	</div>
</div>
