<div class="container" id="content">
	<div id="group-holder">
<div class="col-md-3" id="info-panel">
	<h3>{{group.coursecode}}</h3>
	<h6>{{group.description}}</h6>
	<h5>{{group.section}}</h5>
	<h5>{{group.teacheremail}}</h5>
	<hr />
	<h4>Code: {{group.portal}}</h4>
	<hr />
	<a  href="#/class/{{group.portal}}/requirement/create" title="Create Requirement">Create Requirement</a><br />
	<a href="#/class/{{group.portal}}/requirement" title="View Requirements">View Requirements</a><br />
	<a href="#/class/{{group.portal}}/students" title="View Students">View Students</a><br />
	<a href="#/class/{{group.portal}}/files/{{fileupload.id}}" title="View Files">View Files</a>
	<br /><br />
</div>
</div>
		<div class="col-md-8" id="post-stream" ng-controller="studentGradeCtrl">
			<article class="row post" ng-repeat="studentGrade in studentGrades">
				<section class="post-body"> 
					<span><h1 class="inline">{{studentGrade.student.name}}</h1></span>
					<span class="float-right grade">Grade: {{studentGrade.grade}}</span>
				</section>
			</article>
		</div>
	</div>
</div>
